<div>Portal page</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-2">
      <div *ngFor="let page of pageLayout">
        {{ page.label }}
        <div class="row custom-card">
          <ng-container *ngFor="let section of page?.metadata?.sections">
            <div
              class="col-{{ section.breakpoint.mobile }} col-lg-{{
                section.breakpoint.desktop
              }} col-md-{{ section.breakpoint.tablet }}"
            >
              <div class="section"></div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-10">
      <div class="" *ngFor="let page of portalPage?.[0]?.layoutContainer">
        <div class="row custom-card">
          <ng-container
            *ngFor="
              let section of page?.layoutContainerTemplate?.metadata?.sections
            "
          >
            <div
              class="col-{{ section.breakpoint.mobile }} col-lg-{{
                section.breakpoint.desktop
              }} col-md-{{ section.breakpoint.tablet }}"
            >
              <div class="section d-flex justify-content-center align-items-center">
                <div class="centered">
                  <button class="btn" (click)="OpenDialog()">
                    <i class="fa-solid fa-plus">

                    </i>
                  </button>

                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
